<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>IdentIcon generator</title>
</head>
<body>
    <div class="page">
        <h1 class="title">Ident Icon image generator</h1>
        <p>Generate images for string from url:</p>
        <p><span style="color: #333; background-color: #ccc;">
           &nbsp;http://localhost:9090/getimage/&lt;string value&gt;&nbsp;<br>
           &nbsp;http://localhost:9090/getimage/&lt;string value&gt;
           ?size=&lt;integer value&gt;&nbsp;<span></p>
        <p>Size parameter may be set as width in pixels of one side,
           in range from 5 to 255.</p>
    </div>
</body>
</html>
